.single-post {
  width: 90%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  color: #03123e;
  /* border: 1px solid #03123e; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 12px rgba(0, 26, 98, 0.17);
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  /* padding-top: 1rem; */
  border-bottom: 2px solid #464646;
  text-align: start;
  padding-left: 2rem;
}

.single-post__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}

.single-post h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  
}
.single-post p {
  /* font-size: 1.5rem; */
  padding-bottom: 1.5rem;
  
}
