.input {
  margin: 1rem 0;
  width: 100%;
}

.input label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #03123e72;
  background-color: transparent;

}

.input .touched.invalid {
    border-color: red;
    background: #fcc9c9;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: #03123e;
  color: #03123e;
}
